Below is a draft of the generated changelog for ${UPCOMING_VERSION}. If you submitted a cherrypick, please make sure it's listed and has an **accurate release note**.

If you have a pending cherrypick for ${UPCOMING_VERSION}, make sure it merges by end of day on **${FREEZE_DATE}**.
Please tag `@kubernetes/patch-release-team` on the GitHub issue/PR, email [${REL_MGR_NAME}](mailto:${REL_MGR_EMAIL}), or reach out in [#${REL_MGR_SLACK}](https://kubernetes.slack.com/messages/${REL_MGR_SLACK}/) on Slack if your cherrypick appears to be blocked on something out of your control.

If you've already spoken to the patch release team about PRs that are not yet merged or listed below, don't worry, we're tracking them.

