#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

build:
	echo noop

binary:
	mkdir -p usr/bin
	curl --fail -sSL \
		-o usr/bin/kubeadm \
		"https://storage.googleapis.com/kubernetes-release-dev/ci-cross/v1.5.0-alpha.1.955+b1d8961fe43015/bin/linux/{{ .Arch }}/kubeadm"

	chmod +x usr/bin/kubeadm
	dh_testroot
	dh_auto_install
	dh_shlibdeps
	dh_install
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

%:
	dh $@
