#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

build:
	echo noop

binary:
	mkdir -p usr/bin
	curl --fail -sSL \
		-o usr/bin/kubeadm \
		"https://dl.k8s.io/ci-cross/v1.6.0-alpha.0.2046+b4d09bf6727606/bin/linux/{{ .Arch }}/kubeadm"

	chmod +x usr/bin/kubeadm
	dh_testroot
	dh_auto_install
	dh_shlibdeps
	dh_install
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

%:
	dh $@
